<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">


    <script src="/js/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="/plugins/bootstraptable/bootstrap-table.min.css">


</head>
<body>


<div class="modal fade" tabindex="-1" role="dialog" id="addstudent">
    <div class="modal-dialog" role="document写">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">学生信息</h4>
            </div>

            <form id="formAddStudent">
                <div class="form-group" hidden>
                    <label for="id">学号</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="id">
                </div>
                <div class="form-group">
                    <label for="name">姓名</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="name">密码</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <label for="age">年龄</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="age">
                </div>
                <div class="form-group">
                    <label for="gender">性别</label>
                    <select class="form-control" id="gender" name="gender">
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">成绩</label>
                    <input type="text" class="form-control" id="score" name="score" placeholder="score">
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addStudent()" id="operation">新增</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div class="container-fluid">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" onclick="initAdd()" data-toggle="modal" data-target="#addstudent">
        新增学生
    </button>


    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="sname">Amount (in dollars)</label>
            <div class="input-group">
                <div class="input-group-addon">按姓名查询:</div>
                <input type="text" class="form-control" id="sname" placeholder="名字">

            </div>
        </div>
        <button type="button" onclick="search()" class="btn btn-primary">查询</button>
    </form>


<!--    <table class="table table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>学号</th>-->
<!--            <th>姓名</th>-->
<!--            <th>年龄</th>-->
<!--            <th>性别</th>-->
<!--            <th style="width: 100px">操作</th>-->
<!--            <th style="width: 100px">操作</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody id="studentID">-->

<!--        &lt;!&ndash;        <tr data-th-each="student:${data}">&ndash;&gt;-->
<!--        &lt;!&ndash;            <th scope="row" data-th-text="${student.id}"></th>&ndash;&gt;-->
<!--        &lt;!&ndash;            <td  data-th-text="${student.name}"></td>&ndash;&gt;-->
<!--        &lt;!&ndash;            <td data-th-text="${student.age}">Thornton</td>&ndash;&gt;-->
<!--        &lt;!&ndash;            <td data-th-text="${student.gender}">@fat</td>&ndash;&gt;-->
<!--        &lt;!&ndash;        </tr>&ndash;&gt;-->


<!--        </tbody>-->
<!--    </table>-->
    <table class="table table-bordered" id="studentTable">

    </table>

</div>


<script src="/js/bootstrap.js"></script>
<script src="/js/myJS.js"></script>
<script src="/plugins/bootstraptable/bootstrap-table.min.js"></script>
<script src="/plugins/bootstraptable/locale/bootstrap-table-zh-CN.min.js"></script>


</body>
</html>